{% load staticfiles %}

    <div id="ndraw" class="float-left height_full">
            <div class="label-sep width_full"></div>
            <div id="img">
                <div id="cam-label" class="width_full cam-label">Дата ??.??.???? ??:??</div>
                <div id="cam"></div>
            </div>
            <div class="svg-container width_full">
                <object id="nn" type="image/svg+xml" data="{% static 'svg/graph.svg' %}" width="100%" height="100%"></object>
            </div>
        </div>
    <div id="nchart" class="float-left height_full">
            <div class="width_full title-predict">
                <div class="width_full stat-label">Статистика (%)</div>
                <div class="stat-header">
                    <div class="float-left stat-cell-1 stat-cell-font">Параметр</div>
                    <div class="float-left stat-cell-all stat-cell-font">Обозн.</div>
                    <div id="s_0" class="float-left stat-cell-all stat-cell-font">Смена ??</div>
                    <div id="s_1" class="float-left stat-cell-all stat-cell-font">Смена ??</div>
                    <div id="s_2" class="float-left stat-cell-all stat-cell-font">Смена ??</div>
                    <div class="float-left stat-cell-all stat-cell-font">Сутки</div>
                </div>
                <div class="stat-row">
                    <div class="float-left stat-cell-1 stat-cell-font-l">Простой</div>
                    <div class="float-left stat-cell-all stat-color-label stat-color-0"></div>
                    <div id="ch_0_0" class="float-left stat-cell-all stat-cell-font"></div>
                    <div id="ch_1_0" class="float-left stat-cell-all stat-cell-font"></div>
                    <div id="ch_2_0" class="float-left stat-cell-all stat-cell-font"></div>
                    <div id="ch_3_0" class="float-left stat-cell-all stat-cell-font"></div>
                </div>
                <div class="stat-row">
                    <div class="float-left stat-cell-1 stat-cell-font-l">Без материала</div>
                    <div class="float-left stat-cell-all stat-color-label stat-color-1"></div>
                    <div id="ch_0_1" class="float-left stat-cell-all stat-cell-font"></div>
                    <div id="ch_1_1" class="float-left stat-cell-all stat-cell-font"></div>
                    <div id="ch_2_1" class="float-left stat-cell-all stat-cell-font"></div>
                    <div id="ch_3_1" class="float-left stat-cell-all stat-cell-font"></div>
                </div>
                <div class="stat-row">
                    <div class="float-left stat-cell-1 stat-cell-font-l">Не распознано</div>
                    <div class="float-left stat-cell-all stat-color-label stat-color-2"></div>
                    <div id="ch_0_2" class="float-left stat-cell-all stat-cell-font"></div>
                    <div id="ch_1_2" class="float-left stat-cell-all stat-cell-font"></div>
                    <div id="ch_2_2" class="float-left stat-cell-all stat-cell-font"></div>
                    <div id="ch_3_2" class="float-left stat-cell-all stat-cell-font"></div>
                </div>
                <div class="stat-row">
                    <div class="float-left stat-cell-1 stat-cell-font-l">Пыль</div>
                    <div  class="float-left stat-cell-all stat-color-label stat-color-3"></div>
                    <div id="ch_0_3" class="float-left stat-cell-all stat-cell-font"></div>
                    <div id="ch_1_3" class="float-left stat-cell-all stat-cell-font"></div>
                    <div id="ch_2_3" class="float-left stat-cell-all stat-cell-font"></div>
                    <div id="ch_3_3" class="float-left stat-cell-all stat-cell-font"></div>
                </div>
                <div class="stat-row">
                    <div class="float-left stat-cell-1 stat-cell-font-l">Брикеты, мелочь</div>
                    <div class="float-left stat-cell-all stat-color-label stat-color-4"></div>
                    <div id="ch_0_4" class="float-left stat-cell-all stat-cell-font"></div>
                    <div id="ch_1_4" class="float-left stat-cell-all stat-cell-font"></div>
                    <div id="ch_2_4" class="float-left stat-cell-all stat-cell-font"></div>
                    <div id="ch_3_4" class="float-left stat-cell-all stat-cell-font"></div>
                </div>
                <div class="stat-row">
                    <div class="float-left stat-cell-1 stat-cell-font-l">Брикеты</div>
                    <div class="float-left stat-cell-all stat-color-label stat-color-5"></div>
                    <div id="ch_0_5" class="float-left stat-cell-all stat-cell-font"></div>
                    <div id="ch_1_5" class="float-left stat-cell-all stat-cell-font"></div>
                    <div id="ch_2_5" class="float-left stat-cell-all stat-cell-font"></div>
                    <div id="ch_3_5" class="float-left stat-cell-all stat-cell-font"></div>
                </div>

            </div>
            <div class="width_full title-chart">
                <div class="width_full char-half chart-backround char-day">
                    <div class="width_full chart-label">Статистика за сутки</div>
                    <div id="ch_all" class="width_full chart-height"></div>
                </div>
                <div class="width_full char-half chart-stage-container">
                    <div class="float-left height_full chart-stage chart-backround">
                        <div id="c_0" class="width_full chart-label">Смена ??</div>
                    <div id="ch_0" class="width_full chart-height"></div>
                    </div>
                    <div class="float-left height_full chart-stage chart-backround chart-stage-center">
                        <div id="c_1" class="width_full chart-label">Смена ??</div>
                    <div id="ch_1" class="width_full chart-height"></div>
                    </div>
                    <div class="float-left height_full chart-stage chart-backround">
                        <div id="c_2" class="width_full chart-label">Смена ??</div>
                    <div id="ch_2" class="width_full chart-height"></div>
                    </div>
                </div>

            </div>

        </div>

<script type="text/javascript">
    $(document).ready(function () {
        var data1 = [ ["Простой", 1]];
        var data2 = [ ["Без мат.", 1]];
        var data3 = [ ["Пыль", 1]];
        var data4 = [ ["Не расп.", 1]];
        var data5 = [ ["Брик., мелочь", 1]];
        var data6 = [ ["Брик.", 1]];
        var options = {
			series: {
				bars: {
					show: true,
					barWidth: 0.6,
					align: "center"
				}
			},
            colors: ["#759ebf", "#666d6e", "#f20855", "#ff0f3c", "#ef7419", "#32ff15"],
			xaxis: {
				mode: "categories",
				tickLength: 0,
                font: {
                    color: "#efeeef"
                }
			},
            yaxes:
                [{
                    show: true,
                    font: {
                        color: "#efeeef"
                    }
                }],
            grid: {
                color: "#efeeef"
            }
		};

		$.plot("#ch_all", [ data1, data2, data4, data3, data5, data6], options);
		$.plot("#ch_0", [ data1, data2, data4, data3, data5, data6], options);
		$.plot("#ch_1", [ data1, data2, data4, data3, data5, data6], options);
		$.plot("#ch_2", [ data1, data2, data4, data3, data5, data6], options);
		getdatachart(3, '/ai_json_day_chart', 'ch_all', options, true, '{{ csrf_token }}');
		getdatachart(0, '/ai_json_ses_chart', 'ch_0', options, true, '{{ csrf_token }}');
		getdatachart(1, '/ai_json_ses_chart', 'ch_1', options, true, '{{ csrf_token }}');
		getdatachart(2, '/ai_json_ses_chart', 'ch_2', options, true, '{{ csrf_token }}');
		const a = document.getElementById("nn");
		var listener = function(){
                const svgDoc = a.contentDocument;
                const svgRoot  = svgDoc.documentElement;
                getdata('/ai_json_recognize', svgRoot, '{{ csrf_token }}');
            }
		a.removeEventListener("load", listener, false);
        a.addEventListener("load", listener, false);
    });
</script>