{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<header class="featured">
    <meta charset="UTF-8">
    <title>Конвейер №2 УБ ОФ (feat. Keras, Tensorflow Google)</title>
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">Конвейер №2 УБ ОФ (feat. Keras, Tensorflow Google)</p>
        </div>
    </div>
</header>
<body>
<div id="body">
    <section class="content-wrapper main-content clear-fix">
        <object id="nn" type="image/svg+xml" data="{% static 'svg/nn-graph.svg' %}" width="100%" height="100%">
            <img src="{% static 'svg/nn-graph.svg' %}" width="100%" height="100%" alt="image format png"/>
        </object>
    </section>
</div>
<script type="text/javascript">
    $(document).ready(function(){
            const a = document.getElementById("nn");
            a.addEventListener("load",function(){
                const svgDoc = a.contentDocument; //get the inner DOM of alpha.svg
                const svgRoot  = svgDoc.documentElement;
                let img = $("#path4944", svgRoot);
                console.log(img);
                img.css('fill', "#004dff");
                img = $("#path5035", svgRoot);
                img.css({'stroke': '#004dff', 'stroke-width': 10});
            },false);
        })

</script>
</body>
</html>