{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<header class="featured height_full">
    <meta charset="UTF-8">
    <title>Конвейер №2 УБ ОФ (feat. Keras, Tensorflow Google)</title>
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/flot/jquery.flot.min.js' %}"></script>
    <div id="npage" class="height_full width_full">
        <div id="nmenu" class="float-left height_full">
             <div class="title-left width_full">
                <p class="site-title">Конвейер №2 УБ ОФ (feat. Keras, Tensorflow Google)</p>
            </div>
            <div class="width_full nav-item nav-font">
                Процесс
            </div>
        </div>
        <div id="ndraw" class="float-left height_full">

        </div>
        <div id="nchart" class="float-left height_full">
            <div class="width_full title-predict">

            </div>
            <div class="width_full title-chart">
                <div class="width_full char-half chart-backround char-day">

                </div>
                <div class="width_full char-half chart-stage-container">
                    <div class="float-left height_full chart-stage chart-backround"></div>
                    <div class="float-left height_full chart-stage chart-backround chart-stage-center"></div>
                    <div class="float-left height_full chart-stage chart-backround"></div>
                </div>

            </div>

        </div>

    </div>
</header>
<body>

</body>
</html>