{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<header>
    <meta charset="UTF-8">
    <title>Конвейер №2 УБ ОФ (feat. Keras, Tensorflow Google)</title>
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/flot/jquery.flot.min.js' %}"></script>
     <script src="{% static 'js/flot/jquery.flot.categories.min.js' %}"></script>

</header>
<body>
<div id="npage" class="height_full width_full">
        <div id="nmenu" class="float-left height_full">
             <div class="title-left width_full">
                <p class="site-title">Конвейер №2 УБ ОФ (feat. Keras, Tensorflow Google)</p>
            </div>
            <div class="width_full nav-item nav-font">
                Процесс
            </div>
        </div>
        <div id="ndraw" class="float-left height_full">
            <div id="img">
                <div class="width_full chart-label">Дата ??.??.???? ??:??</div>
            </div>

        </div>
        <div id="nchart" class="float-left height_full">
            <div class="width_full title-predict">
                <div class="width_full chart-label">Статистика</div>

            </div>
            <div class="width_full title-chart">
                <div class="width_full char-half chart-backround char-day">
                    <div class="width_full chart-label">Статистика за сутки</div>
                    <div id="ch_all" class="width_full chart-height"></div>
                </div>
                <div class="width_full char-half chart-stage-container">
                    <div class="float-left height_full chart-stage chart-backround">
                        <div class="width_full chart-label">Смена</div>
                    <div id="ch_0" class="width_full chart-height"></div>
                    </div>
                    <div class="float-left height_full chart-stage chart-backround chart-stage-center">
                        <div class="width_full chart-label">Предыущая смена</div>
                    <div id="ch_1" class="width_full chart-height"></div>
                    </div>
                    <div class="float-left height_full chart-stage chart-backround">
                        <div class="width_full chart-label">Пред. предыдущая смена</div>
                    <div id="ch_2" class="width_full chart-height"></div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        var data1 = [ ["Простой", 1]];
        var data2 = [ ["Без мат.", 1]];
        var data3 = [ ["Пыль", 1]];
        var data4 = [ ["Не расп.", 1]];
        var data5 = [ ["Брик., мелочь", 1]];
        var data6 = [ ["Брик.", 1]];
        var options = {
			series: {
				bars: {
					show: true,
					barWidth: 0.6,
					align: "center"
				}
			},
            colors: ["#759ebf", "#666d6e", "#f20855", "#ff0f3c", "#ef7419", "#32ff15"],
			xaxis: {
				mode: "categories",
				tickLength: 0,
                font: {
                    color: "#efeeef"
                }
			},
            yaxes:
                [{
                    show: true,
                    font: {
                        color: "#efeeef"
                    }
                }],
            grid: {
                color: "#efeeef"
            }
		};
		$.plot("#ch_all", [ data1, data2, data4, data3, data5, data6], options);
		$.plot("#ch_0", [ data1, data2, data4, data3, data5, data6], options);
		$.plot("#ch_1", [ data1, data2, data4, data3, data5, data6], options);
		$.plot("#ch_2", [ data1, data2, data4, data3, data5, data6], options);
		getdatachart(0, '/ai_json_day_chart', 'ch_all', options, true, '{{ csrf_token }}');
		getdatachart(0, '/ai_json_ses_chart', 'ch_0', options, true, '{{ csrf_token }}');
		getdatachart(1, '/ai_json_ses_chart', 'ch_1', options, false, '{{ csrf_token }}');
		getdatachart(2, '/ai_json_ses_chart', 'ch_2', options, false, '{{ csrf_token }}');

    });
</script>
</html>