<div id="nstat" class="float-left height_full">
    <div class="width_full title-chart">
                <div class="width_full tend-chart-half-form chart-backround char-day">
                    <div class="width_full stat-chart-label-form stat-label-font-form">С начала месяца</div>
                    <div id="ch_month" class="width_full chart-height"></div>
                </div>
               <div class="width_full tend-chart-half-form chart-backround char-day">
                    <div class="width_full stat-chart-label-form stat-label-font-form">С начала года</div>
                    <div id="ch_year" class="width_full chart-height"></div>
                </div>

            </div>
</div>